board
abelectronics
Adafruit-Blinka
adafruit-circuitpython-busdevice
adafruit-circuitpython-framebuf
adafruit-circuitpython-motor
adafruit-circuitpython-pca9685
adafruit-circuitpython-register
adafruit-circuitpython-servokit
adafruit-circuitpython-ssd1306
adafruit-circuitpython-lsm9ds1
Adafruit-PlatformDetect
Adafruit-PureIO
appdirs
asn1crypto
certifi
cbor2
chardet
cryptography
colour
distlib
entrypoints
filelock
gps
guizero
idna
importlib-metadata
ipython
keyring
keyrings.alt
matplotlib
numpy
numpy-stl
olefile
Pillow
psutil
pycrypto
pyftdi
PyGObject
pykalman
pymesh
stl
pyserial
python-apt
pyusb
pyxdg
requests
rpi-ws281x
RPi.GPIO
SecretStorage
scipy
six
smbus2
ssh-import-id
sysv-ipc
urllib3
virtualenv
zipp
