board
abelectronics
Adafruit-Blinka
adafruit-circuitpython-busdevice
adafruit-circuitpython-framebuf
adafruit-circuitpython-motor
adafruit-circuitpython-pca9685
adafruit-circuitpython-register
adafruit-circuitpython-servokit
adafruit-circuitpython-ssd1306
adafruit-circuitpython-lsm9ds1
Adafruit-PlatformDetect
Adafruit-PureIO
appdirs
asn1crypto
certifi
cbor2
chardet
cryptography
distlib
entrypoints
filelock
gps
idna
importlib-metadata
keyring
keyrings.alt
numpy
olefile
Pillow
pycrypto
pyftdi
PyGObject
pykalman
matplotlib
pyserial
python-apt
pyusb
pyxdg
requests
rpi-ws281x
RPi.GPIO
SecretStorage
six
smbus2
ssh-import-id
sysv-ipc
urllib3
virtualenv
zipp
